@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

* {
    box-sizing: border-box;
}

.list-container {
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    border-width: 0.2rem;
    padding: 1rem;
    width: 100%;
    padding: 1rem;
}
.list-container > * {
    min-width: 0;
}

.list-header {
    text-align: center;
    color: black;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.article-list {
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
    justify-content: left;;

    ul {
        list-style: none;
    }
}



.article-link {
    display: flex;
    text-decoration: none;
    background-color: transparent;
    border: none;
    scale: 1.5;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 0.5rem;
}

.article-button:hover {
    color: red;
    padding: 0.6rem;
}

.login-button {

    display: flex;
    background-color: transparent;
    border: 0.2rem solid black;
    font-size: 1rem;
}

.login-button:hover {
    scale: 1.05;
}

.app-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.create-article-button {
    display: flex;
    justify-content: right;
    font-size: 2rem;
    color: black;
    border: black;
    background-color: white;
    margin-bottom: 1rem;
}
.create-article-button:hover {
    scale: 1.05;
}

.article-markdown {
    font-size: 1.2rem;
    line-height: 1.6;
    color: black;

}

.write-article {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.write-article-name {
    border: 0.05rem solid black;
}

.write-article {
    height: 900%;
}

.article-textarea {
    height: 900%;
    width: 100%;
    min-height: 20rem;

    border: 0.1rem solid black;
}


.write-article-buttons-container {
    display:flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: flex-start;
    max-width: 10rem;
}


.back-button {
    display: flex;
    justify-content: right;
    font-size: 1.4rem;
    color: black;
    border: black;
    background-color: white;
    margin-bottom: 1rem;
}



.back-button:hover {
    scale: 1.05;
}
